*.DS_Store
*.UserInterfaceState.xcuserstate
frontend/AI Tennis Coach.xcodeproj/project.pbxproj
frontend/.DS_Store
frontend/AI Tennis Coach.xcworkspace/xcuserdata/ritongchen.xcuserdatad/UserInterfaceState.xcuserstate
frontend/.DS_Store
