AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
CF_PRIVATE_KEY_FILE= # from "src" directory. Ensure *.pem exists before Docker build.
CF_PUBLIC_KEY_ID=
DB_ENDPOINT= # 'db' for local testing with docker compose
DB_NAME=
DB_PASSWORD=
DB_USERNAME=
FLASK_SECRET_KEY= # used for signing cookies. Anything goes, but changes will invalidate existing user sessions.
G_CLIENT_ID=
