@import "~bootstrap/scss/bootstrap";
@import "./variables.scss";
@import url("https://api.fontshare.com/css?f[]=satoshi@300,301,400,500,501,700&display=swap");

body {
  margin: 0;
  font-family: Satoshi, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.primary-color {
  color: $primary-color;
}